.new {
    color: #fff;
    text-decoration: none;
    background: #3cd671;
    padding: 5px 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #ccc;
    margin: 0;
}
.new:hover {
    background: #1baa7c;
}
.menuCreate {
    margin: 10px 0;
    display: flex;
}