.Artists {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 30px;
}
.ArtistItem {
    margin: 10px;
    width: 310px;
    box-shadow: 5px 5px 8px #ccc;
    text-align: center;
}
.ArtistItem:hover {
    cursor: pointer;
    box-shadow: 5px 5px 8px #ccc;
    border: 3px solid #00aadf;
    border-radius: 5px;
}