body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.HeaderTitleInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.HeaderTitleInfo p {
  color: #5e5e5e;
  margin: 0;
  padding: 0;
}
.logoMusic {
  width: 60px;
  height: 60px;
}
.btn {
    margin: 1px;
    width: 100%;
}