.Albums{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}
.AlbumsItem {
    margin: 10px;
    width: 310px;
    box-shadow: 5px 5px 8px #ccc;
    text-align: center;
}
.AlbumsItem:hover {
    cursor: pointer;
    box-shadow: 5px 5px 8px #ccc;
    border: 3px solid #00aadf;
    border-radius: 5px;
}